<div class="container">
  <div class="col-lg-offset-3 col-lg-6">
    <h2>This template is built with <i class="fa fa-heart"></i> by</h2>
    <div class="row">
      <ul class="list-inline">
        <li>
          <p>whatever</p>
          <p>whatever II</p>
          <p>whatever III</p>
        </li>
        <li>
          <p>whatever</p>
          <p>whatever II</p>
          <p>whatever III</p>
        </li>
      </ul>
    </div>
  </div>
</div>
